* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #140000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  display: flex;
  gap: 20px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  overflow: hidden;
}
